<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="OracleDbContext" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=www.yoisoft.com )(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=orcl)));User Id=YOIEMRFORM;Password=yoisoft;" providerName="Oracle.ManagedDataAccess.Client"/>-->
  <add name="OracleDbContext" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=www.yoisoft.com)(PORT=1521))(CONNECT_DATA=(SERVER = DEDICATED)(SERVICE_NAME=orcl)));User Id=YOIEMR;Password=yykj2018;" providerName="Oracle.ManagedDataAccess.Client"/>
</connectionStrings>