<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Yoisoft.DataBase.IDatabase,Yoisoft.DataBase" />
    <!--<typeAlias alias="SqlServer" type="Yoisoft.DataBase.SqlServer.Database,Yoisoft.DataBase.SqlServer" />-->
    <!--<typeAlias alias="MySql" type="Yoisoft.DataBase.MySqlEx.Database,Yoisoft.DataBase.MySqlEx" />-->
    <typeAlias alias="Oracle" type="Yoisoft.DataBase.Oracle.Database,Yoisoft.DataBase.Oracle" />

    <!--工作流接口-->
    <!--<typeAlias alias="INodeMethod" type=" Yoisoft.Application.WorkFlow.INodeMethod, Yoisoft.Application.WorkFlow" />
    <typeAlias alias="NodeMethod" type=" Yoisoft.Application.WorkFlow.NodeMethod, Yoisoft.Application.WorkFlow" />-->
  </typeAliases>
  <containers>
    <container name="IOCcontainer">
      <!--<type type="IDatabase" mapTo="SqlServer" name="SqlServer"></type >-->
      <!--<type type="IDatabase" mapTo="MySql" name="MySql"></type >-->
      <type type="IDatabase" mapTo="Oracle" name="Oracle"></type >
    </container>

    <!--<container name="WfIOCcontainer">
      <type type="INodeMethod" mapTo="NodeMethod"></type>
    </container>-->
    
  </containers>
</unity>